html,body{
    padding:0;
    margin:0;
}

@media only screen and (max-width:767px){
    html{font-size: 10px;}
}

@media only screen and (min-width:768px) and (max-width:1023px){
    html{font-size: 12px;}
}

@media only screen and (min-width:1024px) and (max-width:1199px){
    html{font-size: 14px;}
}

@media only screen and (min-width:1200px){
    html{font-size: 15px;}
}

#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

/* top */
.top{
    height: 4.4rem;
    box-sizing: border-box;
    padding: 1.2rem 9rem;
    position: relative;
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
}    
#logo{
    height: 100%;
}
#avatar{
    height:100%;

}

/* middle */
.middle{
    flex: 1;
    background: #EFEFEF;
}
.middle-content{
    padding: 0 10rem;
    height: 100%;
    position: relative;
    display: flex;
}

#side-bar{
    height: 100%;
    width: 20vw;
    background: #3a4e63;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}
#side-bar .menu-ul{
    list-style: none;
    margin: 2em 0;
    padding: 0;
}

#side-bar .menu-ul li{
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    height: 40px;
    padding: 0 2em;
    color: #CCC;
    font-family: Avenir,Helvetica,Arial,sans-serif;
}
#side-bar .menu-ul li:hover{
    color:#00B4CF;
    background-color: #435466;
}

#side-bar .history span{
    font-size: 1.15rem;
    color: #CCC;
    padding: 0 1rem;
}

#side-bar .history ul{
    padding: 0 2.1rem;
    color: #999;
    font-size: 1rem;
}
#side-bar .history ul li:hover{
    color:#00B4CF;
}

#right-content{
    margin-left: auto;
    width: calc(100% - 21vw);
}
#right-content .cards{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 7.3rem;
    padding: 1vw 0;
}
#right-content .cards .card{
    width: 32%;
}


#cards-1{
    background-color: #ff9a2a;
}
#cards-1 .title,#cards-2 .title{
    padding-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.6rem 0 0 0.5rem;
    color:#f1edde;
}
#cards-1 .value,#cards-2 .value{
    text-align: right;
    bottom: -1.2rem;
    position: relative;
    margin-right: 3rem;
    font-size: 2.4rem;
    margin: 0 1rem 0 0;
    color: #f1edde;
}

#cards-2{
    background-color: #7fbc39;
}

#cards-3{
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    padding: 0.6em 1rem;
    justify-content: space-around;
}

#cards-3 .sum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cards-3 .sum .title{
    margin: 0.2em 0;
    color: #797e82;
}

#cards-3 .sum .value{
    font-size: 1.7rem;
    bottom: -1.2rem;
    position: relative;
}

/* search-bar */
.search-bar{
    height: 40px;
    box-sizing: border-box;
    display: flex;
    line-height: 40px;
    background-color: #fff;
}

.search-bar ul{
    list-style: none;
    display: flex;
    width: 32%;
    margin: 0;
    padding: 0;
    display: flex;
}
.search-bar ul li{
    flex:1;
    text-align: center;
    border-right: 1px solid #f3f3f3;
    color: #6f6f6f;
}

.search-input input{
    border: none;
    background: #efefef;
    height: 23px;
    margin-left: 1.2em;
}

/* footer */
.footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2rem;
    border-top: 1px solid #d2d2d2;
    line-height: 2rem;
}